.card-button {
  padding: 4px 8px;
  background-color: rgb(228, 228, 228);
  border-radius: 4px;
  transition: 0.3s;
  opacity: 0;
  display: inline-block;
  margin: 8px;
}

.card-button:hover {
  background-color: rgb(243, 243, 243);
}
